@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.box-categ{
    background-color: #DDE6ED;
    width: 100%;
    /* height: 30px; */
    text-align: center;
    margin: 0;
}
.box-categ p{
    font-size: 30px;
    padding: 10px 0;
    font-weight: 700;
}
.box-livros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-infos-livros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}