@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.card-livro{
    background-color: #FFFFFF;
    width: 320px;
    height: 550px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-livro img{
    width: 90%;
    height: 70%;
    border: 1px solid black;
}

.card-livro p{
    font-weight: bold;
    font-size: 20px;
}

.card-livro button{
    background-color: #27374D;
    color: white;
    width: 80%;
    height: 30px;
    border: solid #27374D 1px;
    cursor: pointer;
    transition: opacity 0.1s, background-color 0.2s;
}

.card-livro button:hover{
    background-color: white;
    color: #27374D;
    border: #27374D solid 1px;
}

