@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.box-categoria {
    position: relative;
    display: inline-block;
    
}

.box-categoria img {
    width: 200px;
    height: 300px;
    transition: filter 0.3s; /* Adiciona uma transição suave */
}

.box-categoria:hover img {
    filter: brightness(0.4); /* Aplica um filtro de brilho quando hover */
}

.overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s; 
}
.overlay p{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.box-categoria:hover .overlay {
    opacity: 1; /* Torna o overlay visível quando hover */
}



@media (max-width: 900px){
    .box-categoria{
        margin: 10px 20px;
    }
}
@media (max-width: 800px){
    .box-categoria{
        width: 60%;
        
    }
    .box-categoria img {
        width: 100%;
        height: 100%;
    }
}